.hero {
    background-image: linear-gradient(to right, rgb(15 23 42 / 0.8), rgb(30 58 138 / 0.7)), var(--bg-image);

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.heroContent {
    color: white; 
    padding: 2rem;
}

.title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    line-height: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.btnProducts {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnProducts:hover {
    background-color: rgb(185 28 28);
}

/* Estilos para telas maiores (Desktop) */
@media (min-width: 768px) {
    .hero {
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-image); */
        height: 90vh; 
    }

    .title {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }
}