.footer {
    background-color: var(--gray);
    padding-block: 3rem;
    padding-inline: 1.5rem;
    color: white;
    text-align: center;
}

.footerText {
    padding-top: 2rem;
    border-top: 1px solid var(--light-gray);
    margin-top: 2rem;
}

.footerText p {
    color: var(--light-gray);
    font-size: 1.08rem;
    line-height: 1.5rem;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.25rem;
    color: var(--light-gray);
    font-weight: bold;
}