@import url("./reset.css");

:root {
    --gray: rgb(15 23 42 / var(--tw-bg-opacity, 1));
    --light-gray: rgb(55 65 81 / var(--tw-border-opacity, 1));
    --red: rgb(220 38 38 / var(--tw-bg-opacity, 1));
    --title-color: rgb(15 23 42 / var(--tw-text-opacity, 1));
    --border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
    --blue: rgb(30 58 138 / var(--tw-bg-opacity, 1));
}

body {
  font-family: 'Roboto', sans-serif;
}

.contentHeader {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.contentSection {
    padding-inline: 2rem;
    padding-block: 4rem;
    text-align: center;
}

.contentSubtitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--light-gray);  
}